<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="home">เพลงพระราชนิพนธ์</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="kingsong3"> ยามเย็น</a></li>
      <li><a href="kingsong2"> สายฝน</a></li>
        <li><a href="kingsong1"> ใกล้รุ่ง</a></li>
      </ul>
    </div>
  </div>
</nav>
<center><h1>รวมเพลงพระราชนิพนธ์</h1>
<h2>เพลงสายฝน</h2>
<br>
<h3>เมื่อลมฝน บนฟ้ามาลิ่ว</h3>
<h3>ต้นไม้พลิ้ว ลู่กิ่งใบ</h3>
<h3>เหมือนจะเอน รากคลอนถอนไป</h3>
<h3>แต่เหล่าไม้ ยิ่งกลับงาม</h3>
<h3>พระพรหมท่าน บันดาลให้ฝนหลั่ง</h3>
<h3>เพื่อประทัง ชีวิตมิทราม</h3>
<h3>น้ำทิพย์สาด</h3>
<h3>เป็นสาย พรายพลิ้วทิวงาม</h3>
<h3>ทั่วเขตคาม ชื่นธารา</h3>
<br>
<h3>สาดเป็นสาย</h3>
<h3>พรายพลิ้วทิวทุ่ง</h3>
<h3>แดดทอรุ้ง อร่ามตา</h3>
<h3>รุ้งเลื่อมลาย พร่างพรายนภา</h3>
<h3>ยาม เมื่อฝนมาแต่ไกล</h3>
<h3>พระพรหมช่วย อำนวยให้ชื่นฉ่ำ</h3>
<h3>เพื่อจะนำ ดับความร้อนใจ</h3>
<h3>น้ำฝนหลั่ง ลงมาจากฟ้าแดนไกล</h3>
<h3>พืชพันธุ์ไม้ ชื่นยืนยง</h3></center>
</body>
</html>  
