<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="home">เพลงพระราชนิพนธ์</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="kingsong3"> ยามเย็น</a></li>
      <li><a href="kingsong2"> สายฝน</a></li>
        <li><a href="kingsong1"> ใกล้รุ่ง</a></li>
      </ul>
    </div>
  </div>
</nav>
<center><h1>รวมเพลงพระราชนิพนธ์</h1>
<h2>เพลงใกล้รุ่ง</h2>
<br>
<h3>ได้ยินเสียงแว่วดังแผ่วมาแต่ ไกล ไกล</h3>
<h3>ชุ่มชื่นฤทัย หวานใดจะปาน</h3>
<h3>ฟังเสียงบรรเลง ขับเพลงประสาน</h3>
<h3>จากทิพย์วิมาน ประทานกล่อมใจ</h3>
<br>
<h3>* ใกล้ยามเมื่อแสง ทอง ส่อง</h3>
<h3>ฉันคอยมองจ้อง ฟ้าเรืองรำไร</h3>
<h3>ลมโบกโบยมา หนาว ใจ</h3>
<h3>รอช้าเพียงไร ตะวันจะมา</h3>
<br>
<h3>** เพลิดเพลินฤทัย ฟังไก่ประสานเสียงกัน</h3>
<h3>ดอกมะลิวัลย์ อวลกลิ่นระคนมณฑา</h3>
<h3>โอ้ในยามนี้ เพลิน หนักหนา</h3>
<h3>แสงทองนวลผ่องนภา แสนเพลินอุราสำราญ</h3>
<br>
<h3>*** หมู่มวลวิหคบินผกมาแต่ รัง นอน</h3>
<h3>เฝ้าเชยชิดช้อน ลิ้มชมบัวบาน</h3>
<h3>ยินเสียงบรรเลง ดังเพลงขับขาน</h3>
<h3>สอดคล้องกังวาน ซาบซ่านจับใจ</h3>
<br>
<h3>( ซ้ำ * , ** , *** )</h3></center>


</body>
</html>  

