<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="home">เพลงพระราชนิพนธ์</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="kingsong3"> ยามเย็น</a></li>
      <li><a href="kingsong2"> สายฝน</a></li>
        <li><a href="kingsong1"> ใกล้รุ่ง</a></li>
      </ul>
    </div>
  </div>
</nav>

<center><h1>รวมเพลงพระราชนิพนธ์</h1>
<h2>เพลงยามเย็น</h2>
<br>
<h3>..แดด รอน ๆ</h3>
<h3>เมื่อทินกรจะลับเหลี่ยมเม-ฆา</h3>
<h3>ทอแสงเรืองอร่าม ช่าง งาม ตา</h3>
<h3>ในนภาสลับ จับ อัม พร</h3>
<h3>..แดด รอน ๆ</h3>
<h3>เมื่อทินกรจะลาโลกไป ไกล</h3>
<h3>ยามนี้จำต้องพราก จาก ดวง ใจ</h3>
<h3>ไกลแสนไกลสุดห่วง ยอด ดวง ตา</h3>
<h3>..แต่ก่อนเคยคลอเคลียกัน</h3>
<h3>ทุกวันคืนรี่นอุรา</h3>
<h3>ต้องอยู่เดียวเปลี่ยววิญญา</h3>
<h3>เหมือนดัง นภา ไร้ ทินกร</h3>
<h3>แดด รอน ๆ</h3>
<h3>หากทินกรจะลาโลกไป ไกล</h3>
<h3>ความรักเราคง อยู่ คู่ กัน ไป</h3>
<h3>ในหัวใจคงอยู่ คู่ เชย ชม</h3>
<h3>..แดด รอน ๆ</h3>
<h3>หมู่มวลภมรบินลอยล่องตาม ลม</h3>
<h3>คลอเคล้าพฤกษาชาติ ชื่น เชย ชม</h3>
<h3>ชมสมตามอารมณ์ ล่อง เลย ไป</h3>
<h3>ลิ่ว ลม โชย</h3>
<h3>กลิ่นพันธุ์ไม้โปรยโรยร่วงห่วงอา ลัย</h3>
<h3>ยามสายัณห์พลันพราก จาก ดวง ใจ</h3>
<h3>คอยแสงทองวันใหม่ กลับ คืน มา</h3>
<h3>แต่ก่อนเคยคลอเคลียกัน</h3>
<h3>ทุกวันคืนชื่นอุรา</h3>
<h3>ต้องอยู่เดียวเปลี่ยววิญญา</h3>
<h3>เหมือนดังนภาไร้ทินกร</h3>
<h3>..โอ้ ยาม เย็น</h3>
<h3>จวบยามนี้เป็นเวลา สุด อา วรณ์</h3>
<h3>ยามไร้ความสว่างห่างทินกร</h3>
<h3>ยามรักจำจะ จร จาก กัน ไป..</h3></center>
</body>
</html>  
